@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&family=Inter:wght@400;500&family=JetBrains+Mono&display=swap');

* {
  box-sizing: border-box;
}

.App {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}